html, body {
  font-family: "proxima-nova";
  font-size: 16px;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2.5rem;
}

#site-wrapper {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

header img {
  position: relative;
  margin-left: 50%;
  margin-bottom: 20px;
  left: -107px;
}

ul {
  list-style-type: square;
}

li {
  margin-bottom: 0;
}

.header-github {
  display: block;
  position: fixed;
  z-index: 10;
  top: 5.5em;
  right: -6em;
  padding: 0.4em 1em;
  width: 22em;
  text-align: center;
  background-color: #262727;
  text-transform: uppercase;
  font-family: "Tungsten A", "Tungsten B", "Tungsten", "Impact", sans-serif;
  font-size: .9em;
  color: #fefefe;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}

@media screen and (max-width:767px){
  .header-github {
    top: 2em;
    right: -8.75em;
  }
}


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.alert h4 {
  color: #c09853;
}

.alert h4 {
  margin: 0;
  font-size: 30px;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success h4 {
  color: #468847;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger h4,
.alert-error h4 {
  color: #b94a48;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info h4 {
  color: #3a87ad;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.job-opening {
  border: 1px solid #ccc;
  border-color: rgba(51, 195, 240, 0.3);
}

.job-opening ul {
  margin: 0;
}

.job-opening header {
  background-color: rgba(51, 195, 240, 0.34);
}

.job-opening header,
.job-opening article {
  padding: 10px;
}

.job-opening a {
  color: #333;
  text-decoration: none;
}

.row {
  margin-bottom: 20px;
}
